<div class="container">
    <section id="active-jumble" class="row">

        <!-- <div class="card my-2 p-4">
        <h4>Jumble Name</h4>
        <p class="fs-5 my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem enim fuga amet provident illum
          exercitationem, dolor laborum ullam impedit maiores molestias repellat quia deserunt a distinctio voluptatum
          harum
          odio sequi?</p>
        <form onsubmit="app.JumblesController.submitJumble()">
          <textarea name="body" class="form-control" rows="10"></textarea>
        </form>
      </div> -->

    </section>

    <section id="jumbles-list" class="row">
        jumble list goes here
    </section>
</div>